*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #DD072F;
    --hover-button-bg-color: #CC061E;
    --letter-color: #FECA1B;
    --letter-color-2: #404040;
    --main-bg-color: #263238;
    --card-bg-color: #F0F0F0;
    --card-div-bg-color: #1E2834;
    --price-color: #86BA64;
}

@font-face {
    font-family: "pokemon";
    src: url(../Fonts/Pokemon\ Solid.ttf);
}

body{
    font-family: pokemon;
    letter-spacing: .5rem;
    background-color: var(--main-bg-color);
    color: var(--card-bg-color);
    overflow-x: hidden;
}

main{
    min-height: 100dvh;
}

/* ----------------------- Estilo del Header ----------------------- */

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100dvw;
    box-shadow: 0 0 10px 0 #666666;
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        & h1{
            display: none;
            color: var(--card-bg-color);
        }
        & img{
            height: 3rem;
            width: 3rem;
        }
    }
}

/* ----------------------- Estilo de catalogo.html ----------------------- */

#carrito-icono{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    & p{
        color: var(--letter-color)
    }
}

#form-search{
    & div{
        display: flex;
        
        & input{
            width: 40dvw;
            padding: .8rem;
            border-radius: 1rem 0 0 1rem;
            border: none;
            outline: none;
            
        }
        & button{
            padding: .5rem;
            border-radius: 0 1rem 1rem 0;
            border: none;
            &:hover{
                cursor: pointer;
                background-color: var(--card-div-bg-color);
                color: var(--letter-color);
            }
        }
    }
}

/* Estilo del contenedor de productos */
#productos{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content: space-between;
    gap: 5rem 10px;
}


/* Estilo de los productos*/
.producto{
    background-color: var(--card-bg-color);
    color: var(--card-div-bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #222222;
    & a{
        color: var(--card-div-bg-color);
        text-decoration: none;
    }
    & .data-container{
        padding: 1rem;
    }
    & .img-container{
        width: 100%;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        & img{
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
    
}
select{
        width: 80%;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 #222222;
    }

.btn-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    & button{
        padding: .5rem;
        border-radius: 5px;
        border: none;
        background-color: var(--letter-color);
        &:hover{
                cursor: pointer;
                background-color: var(--hover-button-bg-color);
                color: var(--card-bg-color);
            }
    }
}

.precio{
    color: var(--price-color);
}

#cargarMas{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--letter-color);
    color: var(--header-bg-color);
    border: none;
    &:hover{
        cursor: pointer;
        background-color: var(--header-bg-color);
        color: var(--letter-color);
    }
}

/* ----------------------- Estilo de producto.html ----------------------- */


.producto-container{
    color: var(--letter-color-2);
    font-size: 1rem;
    background-color: var(--card-bg-color);
    width: 100dvw;
}



#producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: .5rem;
    & img{
        width: 60dvw;
    }
}

.data-prod-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 8px;
}

.nombre{
    text-align: center;
}

.info-item{
    background: var(--main-bg-color);
    padding: 10px 14px;
    border-radius: 12px;
    color: var(--card-bg-color);
}


#venta{
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 var(--main-bg-color);
    & select{
        margin-left: 1px;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 #222222;
    }
}

.producto-precio{
    color: var(--price-color);
}

/* ----------------------- Estilo de carrito.html ----------------------- */

.main-carrito{
    font-size: .5rem;
    gap: 1rem;
    margin: 2rem 0rem;
    min-height: 90dvh;
}

#carrito{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.producto-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20dvh;
    margin: 1rem .5rem;
    padding: 2rem;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    &:first-child{
        margin: 0rem .5rem;
    }
    & a {
        color: var(--letter-color-2);
        text-decoration: none;
        & .product-container{
            display: flex;
            gap: 10px;
        }
    }
    & .img-container{
        height: 10dvh;
        & img{
            height: 100%;
        }
    }
}

.data-carrito{
    position: sticky;
    bottom: 0;
    width: 100dvw;
    font-size: .8rem;
    background-color: var(--card-bg-color);
    color: var(--letter-color-2);
    padding: 2rem;
    box-shadow: 0 0 10px 0 var(--main-bg-color);
    & div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    & button{
        width: 100%;
        background-color: var(--letter-color);
        padding: 1rem;
        border-radius: .5rem;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: var(--card-div-bg-color);
            color: var(--letter-color);
        }
    }
}

#carrito-total{
    color: var(--price-color);
}

#vaciar-carrito{
    background-color: var(--hover-button-bg-color);
    color: var(--card-bg-color);
    &:hover{
        color: var(--letter-color);
    }
}

/* ----------------------- Estilo de pasarela-de-pago.html ----------------------- */

#form-pasarela{
    background-color: var(--card-bg-color);
    margin: 1rem 2rem 0 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem;
    gap: 2rem;
    & section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & input{
            padding: 5px;
            border-radius: 10px;
            border: none;
        }
    }
}

#pasarela-personal, #pasarela-pago{
    background-color: var(--card-div-bg-color);
    padding: 1rem;
    border-radius: .5rem;
}

#pasarela-personal{
    display: grid;
}

#pasarela-final{
    display: flex;
    flex-direction: column;
    color: var(--letter-color-2);
    & p{
        align-self: flex-start;
    }
    & button{
        padding: 1rem;
        align-self: flex-end;
        border-radius: 1rem;
        border: none;
        background-color: var(--hover-button-bg-color);
        color: var(--card-bg-color);
        &:hover{
            cursor: pointer;
            background-color: var(--card-div-bg-color);
            color: var(--letter-color);
        }
    }
}

#tarjetas{
    display: flex;
    justify-content: space-evenly;
}

#pasarela-precio{
    color: var(--price-color);
}

#final-compra{
    display: flex;
    justify-content: center;
    align-items: center;
}

#final-compra{
    background: url(../media/cartas-pokemon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        background-color: var(--card-div-bg-color);
        padding: 1rem;
        border-radius: 2rem;
    }
}

/* ----------------------- Estilo del Footer ----------------------- */
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30dvh;
    background-color: var(--card-div-bg-color);
    box-shadow: 0 0 2px 0 var(--card-bg-color);
}

/* ----------------------- Diseño del elemento de carga ----------------------- */
#loading-pokeball {
    color: var(--card-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    animation: rotar 1.5s infinite;
    background-color: transparent;
}

#loading-pokeball svg {
    height: 30vh;
    width: 20vw;
    background-color: transparent;
}

@keyframes rotar {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

/* ----------------------- Diseño Responsive ----------------------- */

@media (width > 450px){
    .data-prod-container{
        font-size: 16px;
    }
}

@media (width > 850px){
    #productos{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 20px 100px;
        justify-content: space-between;
        gap: 5rem 10px;
    }

    /* Estilo de producto.html */
    .producto-container{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    #producto{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        height: 80dvh;
        & .img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;
        & img{
            height: 100%;
            width: auto;
            object-fit: contain;
            }
        }
    }

    .data-prod-container{
        width: 60%;
        font-size: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        padding: 1rem;
    }
    .nombre{
    text-align: left;
    }

    #venta{
        position: static;
        height: fit-content;
        padding: 2rem;
        width: 100%;
        margin-top: 1rem;
        border-radius: 10px;
        & select{
            width: fit-content;
        }
    }

    .main-carrito{
        font-size: 1rem;
    }

    .producto-carrito{
        & .img-container{
        height: 15dvh;
        }
    }

    /* Estilo de pasarela-de-pago.html */
    #form-pasarela{
    background-color: var(--card-bg-color);
    margin: 1rem 2rem 0 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
    & section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & input{
            padding: 5px;
            border-radius: 10px;
            border: none;
        }
    }
}
}

@media (width > 1050px) {
    /* Estilo del Header */
    header{
        padding: 0 1rem;
        & a h1{
            display: block;
        }
    }
    /* Estilo de catalogo.html */
    #productos{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 20px 100px;
    }
    .producto{
        justify-content: space-between;
        & select{
            width: fit-content;
        }
        & button{
            border-radius: 20px;
        }
    }

    /* Estilo de producto.html */
    .producto-container{
        height: fit-content;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 75% 25%;
        border-radius: 10px;
    }

    .data-prod-container{
        width: 100%;
        
    }

    #venta{
        width: 20dvw;
        margin-left: 2rem;
        margin-top: 1rem;
        & select{
            width: fit-content;
        }
    }

    /* Estilo de carrito.html */

    .main-carrito{
    display: flex;
    gap: 1rem;
    margin: 2rem 0rem;
    }

    #carrito{
        width: 100%;
        margin: 1rem;
    }

    .data-carrito{
        top: 6rem;
        height: fit-content;
        width: fit-content;
        border-radius: 10px;
        margin: 1rem;
        background-color: var(--card-bg-color);
        color: var(--letter-color-2);
        padding: 2rem;
        box-shadow: 0 0 10px 0 var(--main-bg-color);
        & button{
            width: fit-content;
            background-color: var(--letter-color);
            padding: 1rem;
            border-radius: .5rem;
            border: none;
            &:hover{
                cursor: pointer;
                background-color: var(--card-div-bg-color);
                color: var(--letter-color);
            }
        }
    }
}

